<%= render "layouts/errors", :object => @survey %>

<div class="form">
  <%= form_for @survey do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'input' %>
    <%= f.submit :Submit, class: 'submit' %>
  <% end %>
</div>

<div class="links">
  <p><%= link_to "Return to surveys", surveys_path %></p>
</div>